/components/xplan_design/src/xplan_design.egg-info/
/components/xplan_design/test/test_out/
/components/xplan_submit/src/xplan_submit.egg-info/
/components/xplan_submit/test/test_out/
/components/xplan_utils/src/xplan_utils.egg-info/
/env/
.idea
/components/xplan_coordinate/test_out/
/out/
tx_secret.json
/components/xplan_coordinate/src/xplan_submit.egg-info
xplan-dev-env
/apps/xplan_design/out
**/__pycache__