{
    "invocation": "agave://data-tacc-work-jladwig/xplan2/test/resources/request_experiment.transcriptic.2020-05-04-YeastSTATES-1-0-Growth-Curves.json",
    "lab_configuration": "agave://data-tacc-work-jladwig/xplan2/secrets/tx_secrets.json",
    "out_dir": "agave://data-tacc-work-jladwig/xplan2/out"
}